<div class="col-md-12" style="padding-top:10px">
    <form>
        <textarea name="editor1" id="editor1" rows="20" cols="50" style="width:600px;height:100px">
                Tuvan Kardeş buraya Slogan yazacaksın beğenmezsem Sloganı sana neler yapacağımı biliyorsun!!!
            </textarea>
    </form>
</div>

<script src="~/Admin/assets/global/plugins/ckeditor/ckeditor.js"></script>

<script>
    CKEDITOR.replace('editor1');
</script>